
.axis { 
    font: 14px sans-serif; 
}

text {
    font: 14px sans-serif; 
 
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 100px;
    padding: 8px;
    margin-top: -20px;
    font: 10px sans-serif;
    background: red;
    pointer-events: none;
  }
  
